<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Diary Activities</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
		<div class="">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Diary Task List</h5>
                </div>
                <div class="ibox-content">
					<span class="label label-primary">{{activities.length}} Total diary task</span>
					<br /><br />
					<input type="text" class="form-control" id="filter" placeholder="Search task list">
					<div class="table table-responsive">
						<table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
							<thead>
							<tr>
								<th>S/N</th>
								<th>Activities</th>
								<th></th>
							</tr>
							</thead>
							<tbody >
								<tr ng-repeat="task in activities">
									<td>{{ task.sn }}</td>
									<td>{{ task.title }}</td>
									<td><a class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></td>
								</tr>
							</tbody>
							<tfoot>
							<tr>
								<td colspan="3">
									<ul class="pagination pull-right"></ul>
								</td>
							</tr>
							</tfoot>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
