<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>New Activity</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="row">	 
						<div class="form-group">
							<label class="col-lg-2 control-label">Activity</label>
							<div class="col-lg-10">
								<input type="text" name="activity" id="module_title" ng-model="activity.name" required="" placeholder="Activity name" class="form-control"> 
							</div>
							<div class="clearfix"></div>
						</div>				
						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-10">
								<button class="btn btn-sm btn-primary" type="submit" ng-click="addActivity()">Create</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
    </div>
</div>