<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Contact Manager</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
		<div class="">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>My Contact List</h5>
                </div>
                <div class="ibox-content">
					<span class="label label-primary">{{contacts.length}} Total contacts</span>
					<br /><br />
					<input type="text" class="form-control" id="filter" placeholder="Search contact list">
					<div class="table table-responsive">
						<table class="footable table table-stripped" data-page-size="10" data-filter=#filter>
							<thead>
								<tr>
									<th>S/N</th>
									<th>Customer Name</th>
									<th>Type</th>
									<th>Branch</th>
									<th>Gender</th>
									<th>Address</th>
									<th>Telephone</th>
									<th>Email</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>S/N</th>
									<th>Customer Name</th>
									<th>Type</th>
									<th>Branch</th>
									<th>Gender</th>
									<th>Address</th>
									<th>Telephone</th>
									<th>Email</th>
								</tr>
							</tfoot>
							<tbody >
								<tr ng-repeat="contact in contacts">
									<td>{{contact.sn}}</td>
									<td>{{contact.customer}}</td>
									<td>{{contact.type}}</td>
									<td>{{contact.branch}}</td>
									<td>{{contact.gender}}</td>
									<td>{{contact.address}}</td>
									<td>{{contact.phone}}</td>
									<td>{{contact.email}}</td>
								</tr>
							</tbody>
							<tfoot>
							<tr>
								<td colspan="3">
									<ul class="pagination pull-right"></ul>
								</td>
							</tr>
							</tfoot>
						</table>
					</div>
                </div>
            </div>
        </div> 
    </div>
</div>
